.searchInputs {
    margin-top: 105px;
    display:flex;
}


.search input{
    background-color: hsl(0, 100%, 97%);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}


.searchIcon{
    height: 60px;
    width: 50px;
    background-color: 90deg,#c66cae,#270e40;
    display: grid;
    place-items: center;
}